table.footable.table#podlist(data-filter="#filter")
    thead
        tr
            th
            th(data-class="expand") Name
            th Version
            th Open signups
            th(data-hide="phone", data-type="numeric") Active users 6 months
            th(data-sort-initial="descending", data-type="numeric") Active users 1 month
            th(data-hide="phone", data-type="numeric") Total users
            th(data-hide="phone", data-type="numeric") Posts
            th(data-hide="phone") Services
            th(data-hide="phone") Country
    tbody
        - for (var i=0; i<data.pods.length; i++)
            - var pod = data.pods[i]
            - var pod_meta = utils.get_pod_network_and_version(pod.network, pod.version)
            - if (pod.name.toLowerCase() == 'diaspora*')
                - var podname = pod.host
            - else
                - var podname = pod.name
            tr
                td!= '<img alt="'+pod_meta[0]+'" title="'+pod_meta[0]+'" src="images/'+pod_meta[0]+'-16.png">' 
                td!= '<a href="https://'+pod.host+'">'+podname+'</a>'
                td= pod_meta[1]
                td= (pod.registrations_open) ? 'Yes' : 'No'
                td= (pod.active_users_halfyear) ? pod.active_users_halfyear : '-'
                td= (pod.active_users_monthly) ? pod.active_users_monthly : '-'
                td= (pod.total_users) ? pod.total_users : '-'
                td= (pod.local_posts) ? pod.local_posts : '-'
                td= utils.services_string(pod)
                td!= (pod.country) ? '<a href="http://countrycode.org/'+pod.country+'" target="_blanc"><img src="flags/'+pod.country.toLowerCase()+'.png"></a>' : '&nbsp;'
            