table.footable.table#podlist(data-filter="#filter")
    thead
        tr
            th(data-class="expand") Name
            th Version
            th Open signups
            th(data-hide="phone", data-type="numeric") Active users 6 months
            th(data-sort-initial="descending", data-type="numeric") Active users 1 month
            th(data-hide="phone", data-type="numeric") Total users
            th(data-hide="phone", data-type="numeric") Posts
            th(data-hide="phone") Country
    tbody
        - for (var i=0; i<data.pods.length; i++)
            tr
                td!= '<a href="https://'+data.pods[i].host+'">'+ (data.pods[i].name.toLowerCase() == 'diaspora*') ? data.pods[i].host : data.pods[i].name+'</a>'
                td= (data.pods[i].version.indexOf('head') === 0) ? '.develop' : (data.pods[i].version.indexOf('-') > -1) ? data.pods[i].version.split('-')[0] : data.pods[i].version
                td= (data.pods[i].registrations_open) ? 'Yes' : 'No'
                td= (data.pods[i].active_users_halfyear) ? data.pods[i].active_users_halfyear : '-'
                td= (data.pods[i].active_users_monthly) ? data.pods[i].active_users_monthly : '-'
                td= (data.pods[i].total_users) ? data.pods[i].total_users : '-'
                td= (data.pods[i].local_posts) ? data.pods[i].local_posts : '-'
                td!= (data.pods[i].country) ? '<a href="http://countrycode.org/'+data.pods[i].country+'" target="_blanc"><img src="flags/'+data.pods[i].country.toLowerCase()+'.png"></a>' : '&nbsp;'
            