table.footable.table(data-filter="#filter")
    thead
        tr
            th(data-class="expand") Name
            th Version
            th Open signups
            th(data-type="numeric") Active users 6 months
            th(data-type="numeric", data-sort-initial="descending") Active users 1 month
            th(data-hide="phone", data-type="numeric") Total users
            th(data-hide="phone", data-type="numeric") Posts
    tbody
        - for (var i=0; i<data.length; i++)
            tr
                td!= '<a href="https://'+data[i].host+'">'+data[i].name+'</a>'
                td= (data[i].version.indexOf('head') === 0) ? '.develop' : (data[i].version.indexOf('-') > -1) ? data[i].version.split('-')[0] : data[i].version
                td= (data[i].registrations_open) ? 'Yes' : 'No'
                td= (data[i].active_users_halfyear) ? data[i].active_users_halfyear : '-'
                td= (data[i].active_users_monthly) ? data[i].active_users_monthly : '-'
                td= (data[i].total_users) ? data[i].total_users : '-'
                td= (data[i].local_posts) ? data[i].local_posts : '-'
                